<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <file phpVersion="7.1" phpVersionOperator="lt">./tests/PHP70.php</file>
            <file phpVersion="7.1" phpVersionOperator="ge">./tests/PHP71.php</file>
        </testsuite>
    </testsuites>
</phpunit>
